@model DoctorRegisterVM
@{
    ViewData["Title"] = "Admin dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="popup1" class="overlay">
    <div class="popup">
        <center>
            <a class="close" href="#">&times;</a>
            <div style="display: flex;justify-content: center;">
                <div class="abc">
                    <table width="80%" class="sub-table scrolldown add-doc-form-container" border="0">
                        <tr>
                            <td class="label-td" colspan="2">'
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="padding: 0;margin: 0;text-align: left;font-size: 25px;font-weight: 500;">Add
                                    New Doctor</p><br><br>
                            </td>
                        </tr>
                        <form method="post" class="add-new-form" id="registerForm">
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="FirstName" class="form-label">FirstName: </label>
                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="text" name="FirstName" class="input-text" placeholder="First Name"
                                        aria-required="true"><br>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="LastName" class="form-label">Last Name: </label>
                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="text" name="LastName" class="input-text" placeholder="Last Name"
                                        aria-required="true"><br>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Email" class="form-label">Email: </label>
                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="email" name="email" class="input-text" placeholder="Email Address"
                                        aria-required="true"><br>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Nic" class="form-label">NIC: </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="text" name="Nic" class="input-text" placeholder="NIC Number"
                                        aria-required="true"><br>
                                    <span asp-validation-for="Nic" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="PhoneNumber" class="form-label">Telephone: </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="tel" name="PhoneNumber" class="input-text"
                                        placeholder="Telephone Number" aria-required="true"><br>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </td>
                            </tr>


                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Speciality" class="form-label">Choose specialties: </label>

                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <select asp-for="Speciality" asp-items="Html.GetEnumSelectList<Specialities>()"
                                        name="Speciality" id="Speciality" class="box" aria-required="true">
                                        <option value="">Select speciality</option>
                                    </select>
                                    <span asp-validation-for="Speciality" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Password" class="form-label">Password: </label>
                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="password" name="password" class="input-text"
                                        placeholder="Defind a Password" aria-required="true"><br>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Password" class="form-label">Confirm Password: </label>
                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="password" name="ConfirmPassword" class="input-text"
                                        placeholder="Confirm Password" aria-required="true"><br>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </td>
                            </tr>


                            <tr>
                                <td colspan="2">
                                    <input type="reset" value="Reset"
                                        class="login-btn btn-primary-soft btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <input type="submit" value="Add" class="login-btn btn-primary btn">
                                </td>

                            </tr>
                        </form>
                        </tr>
                    </table>
                </div>
            </div>
        </center>
        <br><br>
    </div>
</div>
