@model Doctor

<div id="popup1" class="overlay">
    <div class="popup">
        <center>

            <a class="close" href="doctors.php">&times;</a>
            <div style="display: flex;justify-content: center;">
                <div class="abc">
                    <table width="80%" class="sub-table scrolldown add-doc-form-container" border="0">
                        <tr>
                            <td class="label-td" colspan="2">'.
                                @* $errorlist[$error_1] *@
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="padding: 0;margin: 0;text-align: left;font-size: 25px;font-weight: 500;">Add
                                    New Doctor.</p><br><br>
                            </td>
                        </tr>
                        <form action="add-new.php" method="POST" class="add-new-form">
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="FirstName" class="form-label">Name: </label>
                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="text" name="name" class="input-text" placeholder="Doctor Name"
                                        required><br>
                                </td>
                            </tr>

                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Email" class="form-label">Email: </label>
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="email" name="email" class="input-text" placeholder="Email Address"
                                        required><br>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Nic" class="form-label">NIC: </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="text" name="Nic" class="input-text" placeholder="NIC Number"
                                        required><br>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="PhoneNumber" class="form-label">Telephone: </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="tel" name="Phone" class="input-text" placeholder="Telephone Number"
                                        required><br>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Speciality" class="form-label">Choose specialties: </label>

                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <select name="spec" id="" class="box">';


                                        $list11 = $database->query("select * from specialties;");

                                        for ($y=0;$y<$list11->num_rows;$y++){
                                            $row00=$list11->fetch_assoc();
                                            $sn=$row00["sname"];
                                            $id00=$row00["id"];
                                            echo "<option value=".$id00.">$sn</option><br />";
                                            };




                                            echo ' </select><br>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Password" class="form-label">Password: </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="password" name="password" class="input-text"
                                        placeholder="Defind a Password" required><br>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <label asp-for="Password" class="form-label">Confirm Password: </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-td" colspan="2">
                                    <input type="password" name="cpassword" class="input-text"
                                        placeholder="Confirm Password" required><br>
                                </td>
                            </tr>


                            <tr>
                                <td colspan="2">
                                    <input type="reset" value="Reset"
                                        class="login-btn btn-primary-soft btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <input type="submit" value="Add" class="login-btn btn-primary btn">
                                </td>

                            </tr>

                        </form>
                        </tr>
                    </table>
                </div>
            </div>
        </center>
        <br><br>
    </div>
</div>


@* Confirm user has added user. *@

<div id="popup1" class="overlay">
    <div class="popup">
        <center>
            <br><br><br><br>
            <h2>Edit Successfully!</h2>
            <a class="close" href="doctors.php">&times;</a>
            <div class="content">


            </div>
            <div style="display: flex;justify-content: center;">

                <a href="doctors.php" class="non-style-link"><button class="btn-primary btn"
                        style="display: flex;justify-content: center;align-items: center;margin:10px;padding:10px;">
                        <font class="tn-in-text">&nbsp;&nbsp;OK&nbsp;&nbsp;</font>
                    </button></a>

            </div>
            <br><br>
        </center>
    </div>
</div>