@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;


@{
    var username = Model.UserName;
    var useremail = Model.Email;
    ViewData["Title"] = "Notifications Panel";
}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">


        <title>@ViewData["Title"]<title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet"> *@
        <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                margin-top: 20px;
                background-color: #f0f2f5;
            }

            .dropdown-list-image {
                position: relative;
                height: 2.5rem;
                width: 2.5rem;
            }

            .dropdown-list-image img {
                height: 2.5rem;
                width: 2.5rem;
            }

            .btn-light {
                color: #2cdd9b;
                background-color: #e5f7f0;
                border-color: #d8f7eb;
            }
        </style>
    </head>

    <body>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
            integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
        <div class="container">
            <div class="row">
                <div class="col-lg-9 right">
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0">Recent</h6>
                        </div>
                        <div class="box-body p-0">
                            @RenderBody()
                            @await RenderSectionAsync("Scripts", required: false)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @section Scripts
        {
            <script src="~/vendor/jquery/jquery.min.js"></script>
            <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        @* <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> *@
        @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script> *@

        <script type="text/javascript">

        </script>
        }
    </body>

</html>