@model IEnumerable<Blog>

@{
    ViewData["Title"] = "My Blog";
    Layout = null;
}



@if (Model == null || Model.Count() == 0)
{
    <h4>Blog is empty</h4>
    <p>Either under development, or author is busy. Visit back again later! :-)</p>
    <a asp-action="Create" asp-controller="Blog">Create new post</a>
}
else
{
    <h4>My blog</h4>
    <p>Read my blog posts below...</p>
    <a asp-action="Create" asp-controller="Blog">Create new post</a>
    foreach (var post in Model)
    {
        int tagIndex = 1;
        <h4><a>@post.Title</a></h4>
        <br>
        <h4><a>@post.BlogName</a></h4>
    }
}