@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;

@model CreateRoleVM

@{
    ViewData["Title"] = "Create new role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="CreateRole" method="post" class="mt-3">
    <div asp-validation-summary="All" class="text-danger">
        <div>
            <input asp-for="RoleName" class="form-control" placeholder="Name">
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">
                Create Role
            </button>
        </div>
    </div>
</form>


