@using Microsoft.AspNetCore.Identity;
@model IdentityRole

@{
    Layout = null;
}


<div id="myPopup1_@Model.Id" class="overlay">
    <div class="popup">
        <center>
            <a class="close" href="#" onclick="toggleViewRolePopup('@Model.Id')">&times;</a>
                <div class="content">
                eDoc Web App<br>
                </div>
                <div style="display: flex;justify-content: center;">
                    <table width="80%" class="sub-table scrolldown add-doc-form-container" border="0">
                        <tr>
                            <td>
                                <p style="padding: 0;margin: 0;text-align: left;font-size: 25px;font-weight: 500;">View
                                    role</p><br>
                            </td>
                        </tr>

                        <!--Create a VM that fetches users in this role (maybe using ajax) -->

                        <h3>@Model.Name</h3>

                        @* @if (Model.UsersInRole.Any())
                        {
                            foreach (var user in Model.UsersInRole)
                            {
                                var fullName = user.FirstName + " " + user.LastName;
                                <h4 class="form-label">@fullName</h4>
                            }
                        } 
                        else
                        {
                            <h4 class="card-title">No users in this role at the moment.</h4>
                        } *@
                    </table>
                </div>
        </center>
    </div>
</div>