@using Microsoft.AspNetCore.Identity
@using HemoTrack.ViewModels;
@model UsersRoleViewModel

@{
    Layout = null;
}

<div id="myPopup1_@Model.Role.Id" class="overlay">
    <div class="popup">
        <center>
            <a class="close" href="#" onclick="toggleViewRolePopup('@Model.Role.Id')">&times;</a>
            <div class="content">
                eDoc Web App<br>
            </div>
            <div style="display: flex;justify-content: center;">
                <table width="80%" class="sub-table scrolldown add-doc-form-container" border="0">
                    <tr>
                        <td>
                            <p style="padding: 0;margin: 0;text-align: left;font-size: 25px;font-weight: 500;">View
                                role</p><br>
                        </td>
                    </tr>

                    <h3>@Model.Role.Name</h3>
                    <br><br>

                    <div id="usersList">
                        @foreach(var userinrole in Model.UsersInRole)
                        {
                            <p>@userinrole.UserName</p>
                            <br>
                            <p>@userinrole.IsSelected</p>

                        }
                    </div> <!-- Container to populate users list -->
    
                </table>
            </div>
        </center>
    </div>
</div>


